HELP.md

notifications/.config.json
!notifications/*.jar

build/
.gradle/
gradle/
gradlew
gradlew.bat

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Logs ###
*.log
logs/

### System ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.jar
*.war
*.ear